<div class="wrapper">
    <form #addNoteForm="ngForm" (ngSubmit)="onSubmit()">
        <!--<form (ngSubmit)="onSubmit()" #addNoteForm="ngForm">-->
        <div>
            <label for="input-title">Title</label>
            <input type="text" id="input-title" name="input-title" ngControl="title" [(ngModel)]="noteLikeObject.title" required>
        </div>

        <div>
            <label for="input-body">Body Text</label>
            <textarea rows="5" type="text" id="input-body" name="input-body" ngControl="body" [(ngModel)]="noteLikeObject.body" required></textarea>
        </div>

        <div>
            <button type="button" class="btn btn-xs btn-default btn-special" (click)="toggleShowMoreOptions()"><i class="icon-pencil"></i>
                <span *ngIf="showMoreOptions">Hide more options</span>
                <span *ngIf="!showMoreOptions">Show more options</span>
            </button>
        </div>

        <div *ngIf="showMoreOptions">
            <label for="input-expire-date">Expire Date</label>
            <input type="text" id="input-expire-date" name="input-expire-date" ngControl="expireDate" [(ngModel)]="noteLikeObject.expireDate">
        </div>

        <div *ngIf="showMoreOptions">
            <label for="input-color">Note Color</label>
            <input type="text" id="input-color" name="input-color" ngControl="color" [(ngModel)]="noteLikeObject.color">
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!addNoteForm.form.valid">Create Note</button>
        <button type="reset" class="btn btn-default">Reset Note</button>

    </form>

    <hr>
    <h1>Appearance:</h1>
    <div class="panel panel-default">
        <div class="panel-heading" [ngClass]="'bg-lightgrey'">
            <h3 class="panel-title"><strong>{{noteLikeObject.title}}</strong></h3>
        </div>
        <div class="panel-body">{{noteLikeObject.body}}</div>
        <div class="panel-body">{{noteLikeObject.expireDate}}</div>
        <div class="panel-body">{{noteLikeObject.color}}</div>
    </div>
</div>