.wrapper {
    width: 65%;
    min-height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
}

.title {
    margin: auto;
}

.btn-special {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}

.buttons {
    padding-top: 10px;
    padding-left: 35%;
}

@media only screen and (max-width: 780px) {
    .buttons {
        padding-left: 10%;
    }
}

h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 780px) {
    .wrapper {
        margin: auto;
        width: 90%;
    }
}

.text {
    word-wrap: break-word;
}

button {
    margin-left: 10px;
    margin-bottom: 5px;
}

.panel {
    margin-left: 20%;
    margin-right: 20%;
    -webkit-box-shadow: 0px 0px 23px -3px rgba(97, 89, 89, 1);
    -moz-box-shadow: 0px 0px 23px -3px rgba(97, 89, 89, 1);
    box-shadow: 0px 0px 23px -3px rgba(97, 89, 89, 1);
}

@media only screen and (max-width: 780px) {
    .panel {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.panel-body {
    text-align: center;
}

.panel-title {
    text-align: center;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    text-align: center;
}

.title-label {
    padding-left: 20px;
    margin-bottom: 10px;
}

.descr-label {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    display: block;
    font-size: 18px;
    margin: auto;
    width: 100px;
}

input {
    display: block;
    height: 35px;
    border-radius: 5px;
    margin: auto;
    width: 60%;
    text-align: center;
}

textarea {
    height: 100px;
    border-radius: 5px;
    width: 60%;
    display: block;
    margin: auto;
    resize: none;
}

@media only screen and (max-width: 780px) {
    textarea {
        width: 90%;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 780px) {
    input {
        width: 90%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.invalid {
    color: rgba(235, 59, 59, 1);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    -webkit-box-shadow: 0px 0px 18px -3px rgba(235, 59, 59, 1);
    -moz-box-shadow: 0px 0px 18px -3px rgba(235, 59, 59, 1);
    box-shadow: 0px 0px 18px -3px rgba(235, 59, 59, 1);
}

.btn-default {
    color: white;
    background-color: #3e3f3a;
}

.btn.disabled {
    cursor: not-allowed;
}