<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"
             [ngClass]="{
                'bg-lightgrey': notedata.color === noteColors[colorsEnum.Gray],
                'bg-green': notedata.color == noteColors[colorsEnum.Green],
                'bg-red': notedata.color == noteColors[colorsEnum.Red]
                }"
        >
            <h3 class="panel-title"><strong>{{notedata.title}}</strong></h3>
        </div>
        <div class="panel-body">{{notedata.body}}</div>

        <div *ngIf="notedata.isInEditMode" class="panel-body">
            <h4>Edit note</h4>

            <form #editNoteForm="ngForm" class="form-horizontal">
                <div>
                    <label for="input-title">Title</label>
                    <input type="text" id="input-title" name="input-title"
                           ngControl="title"
                           [(ngModel)]="notedata.title"
                    >
                </div>

                <div>
                    <label for="input-body">Body Text</label>
                    <textarea rows="5" type="text" id="input-body" name="input-body"
                              ngControl="body"
                              [(ngModel)]="notedata.body"
                    ></textarea>
                </div>

                <div>
                    <button type="button" class="btn btn-xs btn-default" (click)="toggleShowMoreOptions()"><i class="icon-pencil"></i>
                        <span *ngIf="showMoreOptions">Hide more options</span>
                        <span *ngIf="!showMoreOptions">Show more options</span>
                    </button>
                </div>

                <div *ngIf="showMoreOptions">
                    <label for="input-expire-date">Expire Date</label>
                    <input type="text" id="input-expire-date" name="input-expire-date"
                           ngControl="expireDate"
                           [(ngModel)]="notedata.expireDate"
                    >
                </div>

                <div *ngIf="showMoreOptions">
                    <label for="select-color">Not color</label>
                    <select id="select-color" name="select-color"
                            required
                            [(ngModel)]="notedata.color">
                            <!--(change)="changeColor(noteColor)"-->
                    <!--&gt;-->
                        <option *ngFor="let nColor of noteColors" [ngValue]="nColor">{{nColor}}</option>
                    </select>

                </div>
            </form>
        </div>

        <div class="panel-footer">
            <!--TODO create function to get the alt -->
            <img class="status-image img-polaroid"
                 src={{getStatusImagePath()}}
                 alt="status image"
                 (click)="toggleState()"
            >
            <button *ngIf="notedata.areUnsavedChanges" type="button" class="btn btn-xs btn-success" (click)="save()"><i class="icon-save"></i> Save</button>
            <button *ngIf="!notedata.areUnsavedChanges" type="button" class="btn btn-xs btn-default" (click)="save()"><i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-xs btn-default" (click)="toggleEdit()"><i class="icon-pencil"></i>
                <span *ngIf="notedata.isInEditMode">Done editing</span>
                <span *ngIf="!notedata.isInEditMode">Edit</span>
            </button>
            <button type="button" class="btn btn-xs btn-danger" (click)="toggleDelete()">
                <span *ngIf="notedata.isDeleted">Cancel delete</span>
                <span *ngIf="!notedata.isDeleted">Delete</span>
            </button>
        </div>
    </div>
</div><!-- /.col-sm-4 -->
