<div class="col-md-6 wrapper">
    <div class="panel panel-default">
        <div class="panel-heading" [ngClass]="{
                'bg-lightgrey': notedata.color === noteColors[colorsEnum.Gray],
                'bg-green': notedata.color == noteColors[colorsEnum.Green],
                'bg-red': notedata.color == noteColors[colorsEnum.Red]
                }">
            <div class="row">
                <div class="col-md-1 image-state">
                    <img class="status-image img-polaroid" src={{stateImageUrl}} alt="state image">
                </div>
                <div class="col-md-9 title-state">
                    <a href="#" class="title hvr-grow"><strong>{{notedata.title}}</strong></a>
                </div>
                <div class="col-md-2 author">
                    <a class="author-link hvr-grow" routerLink="/profile" routerLinkActive="active">{{notedata.author.username}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span>Published on: </span><strong>{{notedata.postedDate | date: "yyyy-MM-dd"}}</strong>
                </div>
                <div class="col-md-6">
                    <span>Done by: </span> <strong>{{notedata.expireDate | date: "yyyy-MM-dd"}}</strong>
                </div>
            </div>
        </div>
        <div class="panel-body">{{notedata.body}}</div>

        <div *ngIf="notedata.isInEditMode" class="panel-body">
            <h4>Edit note</h4>

            <form #editNoteForm="ngForm" class="form-horizontal">
                <div>
                    <label for="input-title">Title:</label>
                    <input class="input-title" type="text" id="input-title" name="input-title" ngControl="title" [(ngModel)]="notedata.title">
                </div>

                <div>
                    <label for="input-body">Body Text:</label>
                    <textarea rows="5" type="text" id="input-body" name="input-body" ngControl="body" [(ngModel)]="notedata.body"></textarea>
                </div>

                <div>
                    <button type="button" class="btn btn-xs btn-default span-options" (click)="toggleShowMoreOptions()"><i class="icon-pencil"></i>
                        <span *ngIf="showMoreOptions">Hide more options</span>
                        <span *ngIf="!showMoreOptions">Show more options</span>
                    </button>
                </div>

                <div *ngIf="showMoreOptions">
                    <label for="input-expire-date">Expire Date</label>
                    <input class="input-title" type="date" id="input-expire-date" name="input-expire-date" ngControl="expireDate" [(ngModel)]="notedata.expireDate">
                </div>

                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)">
                </my-date-picker>

                <div *ngIf="showMoreOptions">
                    <label for="select-color">Note color</label>
                    <select class="color-selector" id="select-color" name="select-color" [(ngModel)]="notedata.color" (change)="changeColor($event.target.value)">
                        <option *ngFor="let nColor of noteColors" [value]="nColor">{{nColor}}</option>
                    </select>

                </div>
            </form>
        </div>

        <div class="panel-footer ">
            <select id="select-state" name="select-state" [(ngModel)]="notedata.state.name" (change)="changeNoteState($event.target.value)">
                <option *ngFor="let nState of noteStates" [value]="nState">{{nState}}</option>
            </select>
            <button *ngIf="notedata.areUnsavedChanges" type="button" class="btn btn-xs btn-success btn-right" (click)="save()"><i class="icon-save"></i> Save</button>
            <button *ngIf="!notedata.areUnsavedChanges" type="button" class="btn btn-xs btn-info btn-right" (click)="save()"><i class="icon-save"></i> Save</button>
            <button type="button" class="btn btn-xs btn-default btn-right btn-warning" (click)="toggleEdit()"><i class="icon-pencil"></i>
                <span *ngIf="notedata.isInEditMode">Done editing</span>
                <span *ngIf="!notedata.isInEditMode">Edit</span>
            </button>
            <button type="button" class="btn btn-xs btn-danger btn-right" (click)="toggleDelete()">
                <span *ngIf="notedata.isDeleted">Cancel delete</span>
                <span *ngIf="!notedata.isDeleted">Delete</span>
            </button>
        </div>
    </div>
</div>
<!-- /.col-sm-4 -->