img {
    width: 210px;
    height: 210px;
    display: block;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 28px -6px rgba(0, 0, 0, 0.75);
}

h1 {
    text-align: center;
}

h3 {
    text-shadow: 2px 2px 9px rgba(150, 150, 150, 0.55);
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    text-align: center;
}