<div class="home-page">
    <div class="img-wrapper"> <img class="img-outside" src="app/assets/images/pexels-photo.jpg" alt="">
        <div class="box">
            <h1>Family Notes</h1>
            <h4>Outsource your daily tasks to the other family members</h4>
            <div class="inside">
                <ul>
                    <li>Easy way to make notes</li>
                    <li>Good communication with your family</li>
                    <li>Notification about deadlines</li>
                    <li>Save time and resources</li>
                    <li>Watch your family notes</li>
                    <li>Add notes to your family</li>
                    <li>Free for everybody</li>
                </ul>
                <img class="img-inside" src="app/assets/images/startup-photos.jpg" alt="">
                <div></div>
                <br>
            </div>
        </div>
    </div>
</div>