<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Add a note.</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>See all notes.</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <single-note
                        *ngFor="let note of notes"
                        [notedata]="note"
                >
                </single-note>
            </div>
        </div><!-- /.col-md-8 -->
        <div class="col-md-2"></div>
    </div>
</div>
